ASPNETCORE_ENVIRONMENT=Development
MONGODB_CONNECTION_STRING=mongodb://localhost:27017
MONGODB_DATABASE_NAME=Mediaid
JWT_SECRET_KEY=CHANGE_THIS_SECRET_KEY_TO_A_LONG_RANDOM_VALUE_FOR_PRODUCTION
JWT_ISSUER=MediAid
JWT_AUDIENCE=MediAidUsers
